<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Logic.Properties.Settings.jobportalConnectionString"
        connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=jobportal;Integrated Security=True;Pooling=False"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>